{% extends 'categories/layout.html' %}

{% block content %}
<main>
    <div>
        <h1>Profile</h1>
        <p>Username: {{user.username}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Date Joined: {{user.date_joined}}</p>
        <p>Address: {{user.address}}</p>
        <a href="/accounts/profile/edit">Edit Profile</a>
    </div>
    <div>
        <h3>Your groups</h3>
    </div>
</main>
{% endblock %}