{% extends 'categories/layout.html' %}

{% block content %}
<main>
    <table>
        <thead>
            <th>Group ID</th>
            <th>Owner</th>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of Members</th>
            <th>Max Number of Members<th>
            <th>Number of Months</th>
            <th>Join</th>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{group.id}}</td>
                <td>{{group.owner}}</td>
                <td>{{group.category}}</td>
                <td><a href="groups/details/{{group.id}}">{{group.name}}</a></td>
                <td>{{group.description}}</td>
                <td>{{group.members.count}}</td>
                <td>{{group.max_num}}</td>
                <td>{{group.months}}</td>
                <!-- able to delete if you made the group -->
                {% if group.owner.id == user.id %}
                    <td>
                        <form method="POST" action="/groups/{{group.id}}/delete">
                            {% csrf_token %}
                            <input type="text" name='group_id' value={{group.id}} id="" hidden=true>
                            <button type="submit">Delete Group</button>                           
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/groups/{{group.id}}/edit">
                            {% csrf_token %}
                            <input type="text" name='group_id' value={{group.id}} id="" hidden=true>
                            <button type="submit">Edit Group</button>                           
                        </form>
                    </td>
                <!-- if the group is not at max capacity, user can join -->
                {% elif group.max_num > group.members.count %}
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name='group_id' value={{group.id}} id="" hidden=true>
                        <button type="submit">Join</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
<!-- detail page for each group-->
<!-- automatically make the owner join the group -->