{% extends 'categories/layout.html' %}

{% block content %}
<main>
    <table>
        <thead>
            <th>Group ID</th>
            <th>Owner</th>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of Members</th>
            <th>Start Date</th>
            <th>Max Number of Members<th>
            <th>Number of Months</th>
            <th>Join</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{group.id}}</td>
                <td>{{group.owner}}</td>
                <td>{{group.category}}</td>
                <td><a href="groups/details/{{group.id}}">{{group.name}}</a></td>
                <td>{{group.description}}</td>
                <td>{{group.members.count}}</td>
                <td>{{group.start_date}}</td>
                <td>{{group.max_num}}</td>
                <td>{{group.months}}</td>
                <!-- able to delete if you made the group -->
                {% if group.owner.id == user.id %}
                    <td>
                        <form method="POST" action="/groups/{{group.id}}/delete">
                            {% csrf_token %}
                            <input type="text" name='group_id' value={{group.id}} id="" hidden=true>
                            <button type="submit">Delete Group</button>                           
                        </form>
                    </td>
                    <td>
                        <button><a href="/groups/{{group.id}}/edit">Edit Group</a></button>
                    </td>
                <!-- if the group is not at max capacity, user can join -->
                {% elif group.max_num > group.members.count %}
                <td>
                {% if today > group.start_date %}
                <td>Still Open</td>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name='group_id' value={{group.id}} id="" hidden=true>
                    <button type="submit">Join</button>
                </form>
                </td>
                {% endif %}
                {% if today > group.start_date %}
                <td>Group Already Started</td>
                {% else %}
                <td>
                    <form action="/groups/{{group.id}}/leave" method="POST">
                        {% csrf_token %}
                        <input type="text" name="group_id" value="{{group.id}}" hidden=true>
                        <input type="text" name="user_id" value="{{user.id}}" hidden=true> 
                        <button type="submit">Leave Group</button>                    
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
<!-- detail page for each group-->
<!-- automatically make the owner join the group -->